:root {
  --primary: #8fad88;
  --accent: #e67e22;
}

html, body {
  background-color: #90b588;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

body {
  font-family: Verdana, sans-serif;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  text-align: center;
  transition: 0.3s ease;
  border: 2px solid black;
}

.button-row {
  text-align: center;
  margin: 20px 0;
}

.index-btn {
  background-color: green;
  color: black;
}

.projects-btn {
  background-color: blue;
  color: black;
}

.contact-btn {
  background-color: yellow;
  color: black;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
